.contact-form {
  width: 100%;
  margin-top: 30px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      clear: both;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #a970ff51;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #a970ff51;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: #a970ff;
    background-color: #0e0e10;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
    font-family: 'Pixelify Sans', cursive;
    text-decoration: none;
    padding: 0.8rem 1.1rem;
    border: 1px solid #a970ff;
    float: right;
    //check
    &:hover {
      background: #a970ff;
      color: #1d1d1d;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    contact-page {
      box-sizing: border-box;
      width: 100%;
    }
    .contact-form {
      box-sizing: border-box;
    }
  }
}
