.nav-bar {
  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 1.4rem;
        line-height: 16px;
        color: #ffffff;

        &:hover svg {
          color: #a970ff;
        }
      }
    }
  }
  background: #1d1d1d;
  width: 70px;
  height: 100%;
  position: absolute;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 1rem 0;

    img.logo {
      display: block;
      margin: auto;
      width: 42px;
      padding: 0.1rem;
      height: auto;
    }

    img.subtitle {
      display: block;
      margin: 0.5rem auto;
      width: 3.5rem;
      height: auto;
    }
  }
  nav {
    font-family: Helvetica, sans-serif;
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -90px;
    width: 100%;

    a {
      font-size: 32px;
      color: #ffffff;
      display: block;
      line-height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }
      &:hover {
        color: #a970ff;

        svg {
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }
    a.projects-link {
      &:after {
        content: 'PROJECTS';
      }
    }
    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: #a970ff;
      }
    }
  }
}
