htlm {
  font-size: 62.5%;
}
body {
  margin: 0;
  font: 300 11px/1.4 'Inter Tight', 'sans-serif';
  color: #ffffff;
  background: #0e0e10;
  display: block;
  overflow: hidden;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}
